[Unit]
Description=PAROU.PT - atualização automática a cada 2 minutos

[Timer]
OnBootSec=1min
OnUnitInactiveSec=2min

[Install]
WantedBy=timers.target
